
DiscoverX.xcodeproj/project.xcworkspace/xcuserdata/priyankaj.xcuserdatad/UserInterfaceState.xcuserstate
DiscoverX.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DiscoverX.xcodeproj/project.xcworkspace/contents.xcworkspacedata
DiscoverX.xcodeproj/xcuserdata/priyankaj.xcuserdatad/xcschemes/xcschememanagement.plist
