
DiscoverX.xcodeproj/project.xcworkspace/xcuserdata/priyankaj.xcuserdatad/UserInterfaceState.xcuserstate
DiscoverX.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DiscoverX.xcodeproj/project.xcworkspace/contents.xcworkspacedata
DiscoverX.xcodeproj/xcuserdata/priyankaj.xcuserdatad/xcschemes/xcschememanagement.plist
DiscoverX.xcodeproj/xcuserdata/pranaukantilal.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
.DS_Store
DiscoverX.xcodeproj/xcuserdata/pranaukantilal.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
